<%= form_with model: diary, class: "diary-form__content" do |form| %>

  <div class="form-group">
    <%= form.label :title, "Titre", class: "form-group__label" %>
    <%= form.text_field :title, class: "form-group__input", placeholder: "Donne un titre à cette entrée..." %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Contenu", class: "form-group__label" %>
    <%= form.rich_text_area :content, class: "form-group__textarea", placeholder: "Écris ici ce que tu ressens..." %>
  </div>

  <div class="diary-form__actions">
    <%= form.submit submit_text, class: "btn-submit" %>
  </div>

<% end %>
