<h1> <%= @diary.title %> (show) </h1>

  <div>
    <%= @diary.content %>
  </div>

  <%# Implémenter date ?%>

<p>
  <%= link_to "Retour à l'index", diaries_path %>
</p>
<p>
  <%= link_to "Modifier ce journal", edit_diary_path(@diary) %>
</p>
<p>
  <%= link_to "Supprimer ce journal",
              diary_path(@diary),
              data: { turbo_method: :delete, turbo_confirm: "Tu es sûr·e de vouloir supprimer?" } %>
</p>
