<h1>Mon profil</h1>

<p><strong>Prénom :</strong> <%= @user.first_name %></p>
<p><strong>Nom :</strong> <%= @user.last_name %></p>
<p><strong>Sexe à la naissance :</strong> <%= @user.birth_sex %></p>
<p><strong>Date de naissance :</strong> <%= @user.date_of_birth %></p>
<p><strong>Genre :</strong> <%= @user.gender %></p>
<p><strong>Traitement hormonal :</strong> <%= @user.hormonal_treatment_status %></p>
<p><strong>Chirurgie :</strong> <%= @user.operation_status %></p>
