<%# app/views/shared/_footer.html.erb %>

<% if user_signed_in? %>
  <footer class="mobile-footer">
    <div class="footer-nav">

      <%= link_to appointments_path, class: "footer-nav-item" do %>
        <i class="fas fa-calendar-alt"></i>
        <span>Events</span>
      <% end %>

      <%= link_to dashboard_path, class: "footer-nav-item" do %>
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      <% end %>
      <%# ============ FAB btn zone ============ %>
      <div class="footer-nav-item fab-placeholder"
           data-controller="fab"
           data-action="click@window->fab#closeMenu">

        <%# render fab button and menu %>
        <%= render "shared/fab_button" %>
      </div>
      <%# =================================== %>

      <%= link_to "#", class: "footer-nav-item" do %>
        <i class="fas fa-smile"></i>
        <span>Humeurs</span>
      <% end %>

      <%= link_to diaries_path, class: "footer-nav-item" do %>
        <i class="fas fa-book"></i>
        <span>Journal</span>
      <% end %>
    </div>
  </footer>
<% end %>
