<%# app/views/appointments/_calendar_navigation.html.erb %>

<div class="calendar-navigation">
  <%# month navigation %>
  <% if @view_type == 'month' %>
    <%= link_to appointments_path(date: @current_date.prev_month, view: 'month'),
        class: "nav-btn" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>

    <h3><%= l(@current_date, format: "%B %Y") %></h3>

    <%= link_to appointments_path(date: @current_date.next_month, view: 'month'),
        class: "nav-btn" do %>
      <i class="fas fa-chevron-right"></i>
    <% end %>

  <%# week navigation %>
  <% else %>
    <% week_start = @current_date.beginning_of_week %>
    <% week_end = @current_date.end_of_week %>

    <%= link_to appointments_path(date: week_start - 1.week, view: 'week'),
        class: "nav-btn" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>

    <h3>
      Semaine du <%= l(week_start, format: :short) %> au <%= l(week_end, format: :short) %>
    </h3>

    <%= link_to appointments_path(date: week_start + 1.week, view: 'week'),
        class: "nav-btn" do %>
      <i class="fas fa-chevron-right"></i>
    <% end %>
  <% end %>
</div>
