<%# app/views/appointments/index.html.erb %>
<%= render "shared/app_header" %>

<div class="mobile-dashboard">


  <%= render "calendar_section" %>

<%#
  <%= render "view_switcher" %>
  <%= render "reminders_section", appointments: @appointments %>

  <% if @view_type == 'month' %>

    <%= render "simple_calendar", appointments: @appointments %>
  <% else %>

    <%= render "week_calendar", appointments: @appointments %>
  <% end %>

</div>
