<h2>Informations sur le traitement hormonal</h2>

<%= form_for @user, url: wizard_path, method: :put do |f| %>
  <p>
    <%= f.label :hormonal_treatment_status, "Prennez-vous actuellement un traitement hormonal ?" %><br>
    <%= f.select :hormonal_treatment_status, ["Oui, j'ai déjà commencé", "Non, mais je compte commencer", "Je veux m'informer"] %>
  </p>

  <!-- Bloc FTM / FTX -->
    <div id="ftm_treatments" style="display:none;">
      <h3>Traitements hormonaux masculinisants</h3>
      <p> Quel est votre traitement ? </p>
      <%= f.check_box :treatment_androtardyl %> Androtardyl<br>
      <%= f.check_box :treatment_nebido %> Nebido<br>
    </div>

    <!-- Bloc MTF / MTX -->
    <div id="mtf_treatments" style="display:none;">
      <h3>Traitements hormonaux féminisants</h3>
      <p> Quel est votre traitement ?</p>

      <strong>Anti-androgènes et progestatifs :</strong><br>
      <%= f.check_box :treatment_bicalutamide %> Bicalutamide<br>
      <%= f.check_box :treatment_decapeptyl %> Décapeptyl, Lupron et bloqueurs de puberté<br>
      <%= f.check_box :treatment_progesterone %> Progestérone<br>

      <strong>Œstrogènes :</strong><br>
      <%= f.check_box :treatment_estreva %> Estreva (gel)<br>
      <%= f.check_box :treatment_oestrodose %> Œstrodose (gel)<br>
      <%= f.check_box :treatment_oesclim %> Oesclim (patch)<br>
      <%= f.check_box :treatment_dermestril %> Dermestril (patch)<br>
      <%= f.check_box :treatment_provames %> Provames (comprimés)<br>
      <%= f.check_box :treatment_estrofem %> Estrofem (comprimés)<br>
      <%= f.check_box :treatment_progynova %> Progynova (comprimés)<br>
      <%= f.check_box :treatment_neofollin %> Neofollin (Injection)<br>
      <%= f.check_box :treatment_gynodian %> Gynodian Depot (Injection)<br>
    </div>

    <%= f.submit "Next" %>
  <% end %>

  <script>
    const birthSex = "<%= @user.birth_sex %>";
    const hormonalStatus = document.getElementById("hormonal_status");
    const ftm = document.getElementById("ftm_treatments");
    const mtf = document.getElementById("mtf_treatments");

    function toggleTreatmentBlocks() {
      if (hormonalStatus.value === "Oui, déjà commencé") {
        if (birthSex === "XX") {
          ftm.style.display = "block";
          mtf.style.display = "none";
        } else {
          mtf.style.display = "block";
          ftm.style.display = "none";
        }
      } else {
        ftm.style.display = "none";
        mtf.style.display = "none";
      }
    }

    hormonalStatus.addEventListener("change", toggleTreatmentBlocks);
    document.addEventListener("DOMContentLoaded", toggleTreatmentBlocks);
  </script>





  <%# <p>
    <%= f.label :hormonal_treatment_notes, "Informations complémentaires" %><br>
    <%# <%= f.text_area :hormonal_treatment_notes %>
  <%# </p>

  <%= f.submit "Suivant" %>
<%# <% end %>
